affine==2.4.0
fastapi==0.139.2
GeoAlchemy2==0.20.0
numpy==2.4.6
onnxruntime==1.27.0
Pillow==12.3.0
pydantic==2.13.4
pyproj==3.7.2
python-multipart==0.0.32
rasterio==1.4.4
shapely==2.1.2
SQLAlchemy==2.0.51
uvicorn==0.51.0
psycopg[binary]==3.3.4
